:root{
  --bg:#FAFAFC;
  --panel:#fff;
  --accent:#D4AF37;
  --muted:#9AA0A6;
  --dark:#1b1c22;
}

/* Reset y base */
*{box-sizing:border-box}
html,body,#app{height:100%}
body{
  margin:0;
  font-family:Inter,Segoe UI,Roboto,Arial,sans-serif;
  background:var(--bg);
  color:var(--dark);
}
a{color:inherit;text-decoration:none}
button{font:inherit}

#module-container {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}
#module-container.loaded {
    opacity: 1;
}
